* {
  font-family: 'DynaPuff', cursive;
  margin: 0;
  padding: 0; }

.navbar-toggler {
  background-color: #0a9ae4; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.grid-base {
  display: grid;
  grid-template-areas: "header header header" "main main main" "section section section" "footer footer footer";
  grid-template-rows: auto 1fr; }

.navbar_logoText__krn_c {
  color: #fff;
  height: 55px;
  font-size: 36px;
  font-family: Roboto Slab;
  font-weight: 600; }

.grid-header {
  grid-area: header; }

.bg-cabeza {
  background-color: #111; }

.navbar {
  height: auto;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.45);
  padding: 14px 3vw; }

.form-control {
  background: #141414;
  width: 500px;
  border: 1px solid #454b58;
  border-radius: 8px;
  height: 50px;
  padding: 14px 47px 14px 19px;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  margin-left: 2rem;
  color: #f8f9fa; }

.form-control:focus {
  background: transparent;
  color: #fff;
  box-shadow: none;
  border-color: #454b58; }

.navbar-brand img {
  height: 40px;
  width: 40px; }

ul li {
  margin-left: auto;
  align-items: center;
  padding-left: 20px; }

.btn-secondary {
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg:none ;
  --bs-btn-hover-border-color: none;
  --bs-btn-active-bg: none; }

.dropdown-menu {
  --bs-dropdown-bg: #111;
  --bs-dropdown-border-color: #454b58;
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-link-hover-bg: none; }
  .dropdown-menu li {
    padding: 0;
    margin: 0;
    display: block;
    font-family: Inter;
    font-size: 19px;
    white-space: pre-line;
    margin-top: auto;
    margin-bottom: auto; }
  .dropdown-menu img {
    width: 44px;
    margin-left: 15px; }

.dropdown-item {
  color: #fff;
  text-align: center; }

.dropdown-divider {
  border-top: 1px solid #454b58; }

.action-nav {
  display: flex;
  justify-content: start; }

a {
  text-decoration: none;
  color: #fff; }

.nav-item a {
  color: #fff;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px; }

.grid-main {
  background-color: #111;
  grid-area: main;
  height: auto; }

.grid-footer {
  background-color: #fca311;
  grid-area: footer;
  height: auto; }

footer .titulo-seccion,
footer .copy {
  color: #000000;
  display: flex;
  justify-content: center;
  margin-bottom: 0; }

.redes-sociales {
  display: flex;
  justify-content: center;
  text-align: center; }
  .redes-sociales a {
    display: inline-block;
    width: 45px;
    height: 45px;
    color: #fff;
    background-color: #0d2033;
    align-items: center;
    line-height: 45px;
    margin-right: 80px;
    margin-left: 40px;
    transition: all 300ms ease;
    font-size: 25px;
    margin-top: 20px; }
    .redes-sociales a:hover {
      color: aqua; }

.box {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding-top: 44px;
  justify-content: space-evenly;
  min-width: 300px;
  gap: 16px;
  padding: 80px 8% 40px;
  overflow: hidden;
  flex-wrap: nowrap; }

.menu-principal {
  flex-direction: column;
  min-width: 300px;
  margin-top: 24px;
  max-width: 600px;
  align-items: flex-start;
  padding-top: 80px;
  margin-top: 0;
  text-align: left; }
  .menu-principal h1 {
    font-size: 60px;
    font-family: Roboto Slab;
    color: #fff;
    font-weight: 900;
    font-weight: bold;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    text-align: left; }
  .menu-principal p {
    color: #949fa9;
    font-family: Inter;
    font-weight: 300;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 160%; }

.botones {
  display: flex;
  justify-content: start; }

.caardd {
  width: 650px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #454b58;
  overflow: hidden;
  margin: 20px;
  text-align: left;
  flex-wrap: wrap;
  justify-content: center;
  display: flex; }
  .caardd img {
    height: 450px; }

.cardd-texto {
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 4px; }
  .cardd-texto span {
    font-family: Inter;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #949fa9;
    margin: 0; }
  .cardd-texto h2 {
    font-size: 28px;
    font-family: Inter;
    font-weight: 700;
    line-height: 140%;
    overflow: hidden;
    color: #dfe5f3; }
  .cardd-texto p {
    color: #949fa9;
    overflow: hidden;
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%; }

.contenedor-section {
  background-color: #1c1c1c;
  padding: 0;
  width: 100%;
  grid-area: section;
  display: block; }

.informacion-section {
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-around;
  padding: 48px 8%; }
  .informacion-section img {
    margin-right: 20px;
    width: 72px;
    height: 72px; }

.carta-pago, .carta-trading, .carta-wallet {
  display: flex;
  align-self: center; }

.carta-pago-texto, .carta-trading-texto, .carta-wallet-texto {
  display: flex;
  flex-direction: column;
  color: #dfe5f3; }

.parrafo-1 {
  font-size: 30px;
  font-weight: 700;
  font-family: inter;
  margin: 0;
  color: #dfe5f3;
  padding: 0; }

.parrafo-2 {
  color: #949fa9;
  margin: 0;
  font-size: 18px;
  font-family: inter;
  padding: 0; }

.boton-1 {
  position: relative;
  border-radius: 8px;
  border: 1px solid #0a9ae4;
  background-color: #0a9ae4;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 23px;
  font-weight: 600;
  padding: 16px 45px;
  margin-right: 3px;
  --bs-btn-active-bg: #0a9ae4;
  --bs-btn-hover-bg:  #0a9ae4;
  --bs-btn-active-border-color:#0a9ae4; }

.boton-2 {
  border-radius: 8px;
  border: 1px solid #454b58;
  background-color: #111;
  font-family: Inter;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  padding: 16px 45px;
  text-align: center;
  margin-left: 3px;
  --bs-btn-hover-bg:  #18191b;
  --bs-btn-active-bg: #111;
  --bs-btn-active-border-color: #454b58; }

.btn-warning {
  --bs-btn-hover-border-color:#454b58; }

.grid-imagen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 1800px; }
  .grid-imagen .tarjeta {
    width: 330px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 1px #fffdfd;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
    .grid-imagen .tarjeta:hover {
      transform: translate(-15px);
      box-shadow: 0 12px 16px black; }
    .grid-imagen .tarjeta img {
      width: 330px;
      height: auto; }
    .grid-imagen .tarjeta a {
      color: #ffc900;
      font-weight: 600;
      display: inline-block;
      width: 85px;
      background-color: #5f4e00;
      align-items: center;
      line-height: 30px;
      border-radius: 8%;
      font-family: Inter; }
    .grid-imagen .tarjeta h4 {
      color: #fff;
      margin-top: 5px;
      font-size: 20px;
      font-family: serif; }

.precio-info {
  justify-content: space-between;
  display: flex;
  margin-top: 36px;
  align-items: center; }
  .precio-info span {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    font-family: Roboto Slab;
    margin-left: 5px; }

.eth-precio {
  margin-left: 6px; }
  .eth-precio i {
    color: floralwhite;
    font-size: 25px;
    display: inline-block; }

.contenedor-ambiente {
  padding-top: 150px;
  font-family: Inter;
  display: flex;
  align-items: center;
  text-align: center; }

.ambiente {
  margin: 0 auto;
  max-width: 1800px; }
  .ambiente img {
    height: auto;
    width: auto; }

.ambiente-inicio {
  padding-bottom: 200px;
  align-items: center;
  text-align: center;
  display: block; }
  .ambiente-inicio h1 {
    color: #fff;
    margin: 1em 0px;
    font-size: 64px;
    font-weight: 900;
    font-family: Roboto Slab;
    display: block; }
  .ambiente-inicio p {
    color: #79858f;
    line-height: 160%;
    font-size: 24px;
    text-align: center;
    font-family: Inter;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 60%; }

.ambiente-medio {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
  position: relative;
  display: flex; }

.planta {
  display: inline;
  position: absolute;
  top: 12%;
  right: 0px;
  height: auto; }

.planeta {
  display: inline;
  position: absolute;
  top: 260px;
  left: 0; }

.ambiente-medio-imagen {
  margin: auto;
  left: 7%;
  top: 30%;
  height: 100%;
  align-items: center;
  position: absolute;
  display: block; }
  .ambiente-medio-imagen img {
    height: auto; }
  .ambiente-medio-imagen p {
    color: white;
    width: 415px;
    line-height: 160%;
    padding: 10px 0;
    margin: 1em 0;
    font-size: 16px;
    font-family: Inter; }

.boton-ambiente {
  font-size: 18px;
  width: 224px;
  background-color: white;
  color: black;
  border-radius: 8px;
  border: 1px solid #454b58;
  font-family: Inter;
  font-weight: 600;
  padding: 10px 0px; }

.ambiente-final {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  max-width: 100%; }

.ambiente-final-imagen {
  padding-top: 175px;
  gap: 150px;
  justify-content: center;
  flex-direction: row;
  display: flex; }

.ambiente-final-texto {
  padding-top: 50px;
  display: block; }
  .ambiente-final-texto h2 {
    font-size: 28px;
    font-family: Inter;
    margin: 1em 0;
    font-weight: 700;
    line-height: 162.5%;
    color: #fff; }
  .ambiente-final-texto p {
    width: 425px;
    line-height: 1.7;
    font-size: 16px;
    color: #79858f;
    font-family: Inter; }

.ambiente-final-informacion-2 {
  padding-top: 120px;
  gap: 150px;
  justify-content: center;
  flex-direction: row-reverse;
  display: flex; }

.ambiente-final-informacion-texto {
  padding-top: 50px;
  display: block; }
  .ambiente-final-informacion-texto h2 {
    font-size: 28px;
    font-family: Inter;
    margin: 1em 0;
    font-weight: 700;
    line-height: 162.5%;
    color: #fff; }
  .ambiente-final-informacion-texto p {
    width: 425px;
    line-height: 1.7;
    font-size: 16px;
    color: #79858f;
    margin: 0 auto;
    font-family: Inter; }

.ambiente-final-futuro {
  padding-top: 120px;
  gap: 150px;
  justify-content: center;
  display: flex; }

.ambiente-final-futuro-texto {
  padding-top: 50px;
  display: block; }
  .ambiente-final-futuro-texto h2 {
    font-size: 28px;
    font-family: Inter;
    font-weight: 700;
    line-height: 162.5%;
    color: #fff; }
  .ambiente-final-futuro-texto p {
    width: 425px;
    line-height: 1.7;
    font-size: 16px;
    color: #79858f;
    margin: 1em 0;
    font-family: Inter; }

.ambiente-final-creditos {
  width: 100%;
  padding: 175px 0 0 0;
  margin: 0;
  max-width: 100%;
  position: relative; }

.ambiente-final-creditos-imagen {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.ambiente-final-creditos-texto {
  top: 55%;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  position: absolute;
  text-align: center; }
  .ambiente-final-creditos-texto h2 {
    font-size: 28px;
    font-family: Inter;
    color: #fff;
    margin-bottom: 1em;
    font-weight: 700;
    line-height: 162.5%; }
  .ambiente-final-creditos-texto p {
    line-height: 160%;
    color: #dfe5f3;
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    font-family: Inter;
    text-align: center; }

.preguntas-main {
  padding-top: 25px;
  display: block; }

.preguntas-informacion {
  padding-left: 120px;
  padding-right: 120px;
  max-width: 1150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-top: 25px; }

.guia-inicio {
  background-color: #1c1c1c;
  padding: 60px 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .guia-inicio .guia-inicio h3 {
    font-size: 17px;
    margin-top: 30px; }
  .guia-inicio h2 {
    margin-bottom: 1em;
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #ffc107; }

.preguntas-informacion-texto h1 {
  font-size: 60px;
  font-family: Roboto Slab;
  font-weight: 900;
  color: #dfe5f3; }

.cartas-preguntas {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  justify-content: center; }
  .cartas-preguntas a {
    border: 1px solid #454b58;
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1;
    background: #141414; }
    .cartas-preguntas a:hover {
      transition: all .3s ease;
      color: #fff; }

.cartas-preguntas-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 28px;
  width: 380px; }

.cartas-preguntas-contenido-imagen img {
  width: 100%;
  display: flex;
  flex: 1 1; }

.cartas-preguntas-contenido-imagen-texo {
  color: #949fa9;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%; }

.preguntas-frecuentes {
  width: 60vw;
  margin: 0 auto; }
  .preguntas-frecuentes h2 {
    margin-top: 128px;
    font-size: 28px;
    font-family: Inter;
    color: #fff;
    text-align: center; }
  .preguntas-frecuentes section p {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
    background: #e4e4e4;
    transition: all 0.2s ease-in; }
  .preguntas-frecuentes section:target p {
    max-height: 100%;
    padding: 10px; }
  .preguntas-frecuentes section a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    background-color: #212121;
    border-bottom: 2px solid gray;
    color: white; }

.preguntas-frecuentas-subtitulos h3 {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
  color: #949fa9; }

.apoyo, .apoyo2, .apoyo3 {
  width: 100%;
  height: 50px;
  background-color: #111; }

.apoyo2 {
  background-color: #f50d0d;
  height: 20px; }

.apoyo3 {
  background-color: #560df5;
  height: 70px; }

.contenedor-ambiente {
  padding-top: 150px;
  font-family: Inter;
  display: flex;
  align-items: center;
  text-align: center; }

.ambiente {
  margin: 0 auto;
  max-width: 1800px; }
  .ambiente img {
    height: auto;
    width: auto; }

.ambiente-inicio {
  padding-bottom: 200px;
  align-items: center;
  text-align: center;
  display: block; }
  .ambiente-inicio h1 {
    color: #fff;
    margin: 1em 0px;
    font-size: 64px;
    font-weight: 900;
    font-family: Roboto Slab;
    display: block; }
  .ambiente-inicio p {
    color: #79858f;
    line-height: 160%;
    font-size: 24px;
    text-align: center;
    font-family: Inter;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 60%; }

.form-label {
  color: #ffc107;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-family: Roboto Slab;
  font-size: 23px; }

.btn-primary {
  --bs-btn-bg: #ffc107;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-active-bg: #ffc107a1; }

.form-text {
  margin-top: 3.25rem; }

.form-check-label {
  color: #ffc107;
  margin-top: 73px;
  font-size: 38px; }

.registro-derecha {
  display: inline;
  position: absolute;
  top: 160px;
  right: 0;
  height: 50px; }

.registro-izquierda {
  display: inline;
  position: absolute;
  top: 600px;
  left: -250px; }

.guia-inicio {
  background-color: #1c1c1c;
  padding: 60px 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .guia-inicio h3 {
    font-size: 17px;
    margin-top: 30px; }
  .guia-inicio h2 {
    margin-bottom: 1em;
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #ffc107; }

.cartas-preguntas {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  justify-content: center; }
  .cartas-preguntas a {
    border: 1px solid #454b58;
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1;
    background: #141414; }
    .cartas-preguntas a:hover {
      transition: all .3s ease;
      color: #fff; }

.cartas-preguntas-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 28px;
  width: 380px; }

.cartas-preguntas-contenido-imagen img {
  width: 100%;
  display: flex;
  flex: 1 1; }

.cartas-preguntas-contenido-imagen-texo {
  color: #949fa9;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%; }

.p-guia-inicio {
  color: #f8f9fac7;
  font-size: 16px;
  margin-bottom: 40px; }

.bg-cabeza, .grid-footer {
  background-color: #156; }

.navbar_logoText__krn_c {
  width: 500px;
  height: 180px; }

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template: "header header header"  "main main main"  "footer footer footer"; }
  .redes-sociales a {
    margin-right: 30px;
    margin-left: 30px; }
  .box {
    flex-direction: column-reverse; }
    .box h1 {
      font-size: 35px; }
    .box p {
      font-size: 10px; }
  .menu-principal button {
    font-size: 10px;
    padding: 10px; }
  .informacion-section img {
    width: 50px;
    height: 50px; }
  .informacion-section p {
    font-size: 10px; }
  .form-control {
    width: auto; }
  .caardd {
    width: auto;
    height: auto; }
  .ambiente img {
    height: 100px; }
  .ambiente-medio-imagen img {
    width: auto; }
  .ambiente-medio-imagen p {
    width: 300px; }
  .ambiente-final-texto p {
    width: 350px; }
  .ambiente-final-imagen {
    flex-direction: column-reverse; }
  .ambiente-final-futuro {
    flex-direction: column-reverse; }
  .ambiente-final-futuro-texto p {
    width: 370px; }
  .ambiente-final-informacion-texto p {
    width: 370px; }
  .ambiente-final-informacion-2 {
    flex-direction: column-reverse; }
  .ambiente-final-creditos-texto {
    position: inherit; }
  .registro-derecha {
    right: 0px;
    height: 150px !important; }
  .registro-izquierda {
    left: -46px;
    height: 150px !important;
    top: 874px; }
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    z-index: 100; }
  .cartas-preguntas {
    display: flex;
    flex-direction: column; }
  .parrafo-1, .parrafo-2 {
    margin-right: 15px; }
  .preguntas-frecuentes section p {
    text-align: start; }
  .preguntas-informacion-texto h1 {
    font-size: 35px; }
  .preguntas-informacion {
    margin-right: 20px; }
    .preguntas-informacion img {
      width: 100px;
      height: 100px;
      margin-right: 100px;
      margin-bottom: -110px; }
  .guia-inicio {
    margin-top: 100px; } }
